html {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  line-height: 1.5;
  margin: 0;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding-bottom: .3em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  color: #b20953;
}

img {
  width: 100%;
  display: block;
}

ul {
  padding: 0;
  text-align: center;
  margin: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

nav li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  padding: .2em .5em .3em;
  margin: 0;
  background-color: #b2a212;
  border-radius: 4px;
}

nav li a:hover {
  background-color: #cc1465;
}

.current {
  background-color: #b20953;
}

main {
  padding: 0 .75em;
  margin: 0;
}

main p {
  display: inline-block;
  color: #2f2d13;
  text-align: left;
}

main p span {
  font-weight: bold;
}

small {
  color: #2f2d13;
  font-size: .75rem;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .75em;
}
